button.glitch-button {
  padding: 10px 40px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: black; /* Change text color to black */
  background-color: rgb(245, 134, 91); /* Change background color to white */
  position: relative;
  overflow: hidden;
}

button.glitch-button::after {
  content: "GLITCH";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  clip-path: inset(50% 50% 50% 50%);
}

button.glitch-button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: -3px -3px 0px #2d29f5, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(191, 236, 83);
}

button.glitch-button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
  background-color: rgb(194, 192, 192); /* Change background color to white */
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(0px, -10px);
  }
  10% {
    clip-path: inset(31% 0 40% 0);
    transform: translate(-10px, 10px);
  }
  20% {
    clip-path: inset(39% 0 15% 0);
    transform: translate(10px, 0px);
  }
  30% {
    clip-path: inset(45% 0 40% 0);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: inset(45% 0 6% 0);
    transform: translate(10px, -10px);
  }
  50% {
    clip-path: inset(14% 0 61% 0);
    transform: translate(-10px, 10px);
  }
  60% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(10px, -10px);
  }
  70% {
    clip-path: inset(39% 0 15% 0);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: inset(31% 0 40% 0);
    transform: translate(10px, -10px);
  }
  90% {
    clip-path: inset(45% 0 40% 0);
    transform: translate(-10px, 10px);
  }
  100% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(0);
  }
}
