button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fcfcfc;
  line-height: 1.2;
  margin: 0;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
}

p {
  margin-block: 1em;
}

.header {
  align-items: center;
  display: flex;
  gap: 1em;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1.5em;
  width: 1.5em;
}

.buttons {
  display: flex;
  gap: 1em;
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

.buttons li {
  width: 100%;
}

.button {
  background-color: #171717;
  border: 1px solid #191919;
  border-radius: 1em;
  color: #fcfcfc;
  cursor: pointer;
  display: inline-block;
  padding: 0.875em 1.25em;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.button:focus,
.button:hover {
  background-color: #1f1f1f;
}

.button--full {
  width: 100%;
}

.button--primary {
  background-image: linear-gradient(135deg, #ae1fd1, #bf2f9a);
  border: 1px solid #951fae;
}

.button--primary:focus,
.button--primary:hover {
  background-image: linear-gradient(135deg, #bf2f9a, #ae1fd1);
}

.button--small {
  font-size: 0.75rem;
}

.iphones {
  display: flex;
  gap: 3em;
}

.iphones > :first-child {
  margin-top: 5.5em;
}

.iphone {
  aspect-ratio: 9 / 19.5;
  background-color: #101010;

  box-shadow: 2.8px 2.8px 2.2px rgb(0 0 0 / 2%),
    6.7px 6.7px 5.3px rgb(0 0 0 / 2.8%), 12.5px 12.5px 10px rgb(0 0 0 / 3.5%),
    22.3px 22.3px 17.9px rgb(0 0 0 / 4.2%), 41.8px 41.8px 33.4px rgb(0 0 0 / 5%),
    100px 100px 80px rgb(0 0 0 / 7%);
  height: 844px;
  overflow: hidden;
  padding: 3em 1.5em;
  width: 390px;
}

.form {
  display: grid;
  gap: 1.5em;
}

.form__input {
  background-color: #171717;
  border: 2px solid #191919;
  border-radius: 1em;
  padding: 1em 1.25em;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.form__input:focus,
.form__input:hover {
  background-color: #1f1f1f;
}

.form__label {
  color: #fcfcfc;
  display: inline-block;
  font-size: 0.875rem;
  margin-block-end: 0.5em;
  margin-inline: 0.5em;
}

.text--center {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .iphones {
    flex-direction: row;
  }

  .iphone {
    width: 50%;
  }

  .form {
    max-width: 400px;
    margin: 0 auto;
  }
}
